{{# lists }}
<div class="col-xs-12">
     <div class="block">
        <a href="{{image}}" title="{{name}}" target="_blank">
        <div class="block-wrapper">
            <div class="b-image">
               <img src="{{image}}" alt="{{name}}">
            </div>
            <div class="b-content">
                <h3 class="b-title">{{name}}...</h3>
                <p>{{description}}</p>
            </div>
        </div>
        </a>
     </div> 
</div>
{{/ lists }}