{{# cards }}
    <div class="card col-xs-12 col-sm-6 col-md-6">
        <div class="card-wrapper">
            <div class="c-image"> 
                <a href="{{image}}" title="{{name}}" target="_blank">
                    <img src="{{image}}" alt="Pictures">
                </a>
            </div>
            <div class="c-title">{{name}}</div>
            <div class="c-content">{{description}}</div>
        </div>  
    </div>
{{/ cards }}