{{# lists }}
<div class="list">
     <a href="{{image}}" title="{{name}}" target="_blank">
          <div class="list-wrapper">
            <div class="l-image">
               <img src="{{image}}" alt="{{name}}">
            </div>
            <div class="l-content">
                <h3 class="l-title">{{name}}...</h3>
                <p>{{description}}</p>
            </div>
          </div>
     </a>
</div>
{{/ lists }}