{{# pannels}}
<div class="pannel {{class}}">
     <div class="pannel-item image">
          <img src="{{image}}" alt="{{name}}">
     </div>
     <div class="pannel-item">
          <h3 class="title">{{name}}</h3>
          <p class="description">{{description}}</p>
     </div>     
</div>
{{/ pannels}} 